@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="mb-3">Welcome to the Contact Management System</h1>
    <p class="lead">Easily add, edit, and manage your contacts online with real-time updates and secure authentication.</p>

</div>
<div class="d-grid gap-2 mt-5">
    <a class="btn btn-lg btn-primary" asp-action="IndexContact" asp-controller="Contact" type="button">Manage Contacts</a>
</div>